<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=768" />
    <meta name="theme-color" content="#000000">
    <link href="/static/assets/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="app" style="height:100%;"></div>
    <script src="/static/assets/app.js"></script>
  </body>
</html>
